<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="ROOT_PATH" value="D:\DSFTP_DATA\MS_BKK_TO_DAC"/>
    <add key="WORK_PATH" value="D:\DSFTP_DATA\MS_BKK_TO_DAC\work"/>
    <add key="BUILD_PATH" value="D:\DSFTP_DATA\MS_BKK_TO_DAC\build"/>
    <add key="KEEP_PATH" value="D:\DSFTP_DATA\MS_BKK_TO_DAC\backup\Translate"/>
    <add key="FILE_EXTENSION" value="*.txt"/>
    
  </appSettings>
</configuration>
